[submodule "Hardware - Main board"]
	path = Hardware - Main board
	url = git@github.com:PhilboBaggins/arcade-controller-pcb-main-board.git
	branch = master
[submodule "Firmware"]
	path = Firmware
	url = git@github.com:PhilboBaggins/arcade-controller-firmware.git
	branch = master
[submodule "Hardware - Button board"]
	path = Hardware - Button board
	url = git@github.com:PhilboBaggins/arcade-controller-pcb-button-board.git
	branch = master
